/TarotNumber/nbproject/private/
/TarotNumber/build/
/tableMultiply/nbproject/private/
/prueba/nbproject/private/
/prueba/build/
/Marks/nbproject/private/
/Marks/build/
/StudentMarks/nbproject/private/
