/TarotNumber/nbproject/private/
/TarotNumber/build/
/tableMultiply/nbproject/private/
/prueba/nbproject/private/
/prueba/build/
/Marks/nbproject/private/
/Marks/build/
/StudentMarks/nbproject/private/
/Table/nbproject/private/
/Table/build/
/Matriz5x5/nbproject/private/
/Matriz5x5/build/
/MinumPrime/nbproject/private/
/MinumPrime/build/
/WorkingDay/nbproject/private/
/WorkingDay/build/
/Pen/nbproject/private/
/Pen/build/
/GetBigger/nbproject/private/
/GetBigger/build/
/NumberGame/nbproject/private/
/NumberGame/build/
/StudentMarks/build/
/Statistics/nbproject/private/
/Statistics/build/
/Matrix/nbproject/private/
/Matrix/build/
/AdventCalendar/nbproject/private/
/AdventCalendar/build/
/DataBase/nbproject/private/
/SortedArray/nbproject/private/
/SortedArray/build/
/Primitiva/nbproject/private/
/Primitiva/build/
/AlphabetSoup/nbproject/private/
/AlphabetSoup/build/
/VisTeisMinas/nbproject/private/
/Teacher/build/
/jerarquias/build/
/HelloWorldGUI/nbproject/private/
/HelloWorldGUI/build/
/gradeChanger/nbproject/private/
/gradeChanger/build/
/equation/nbproject/private/
/equationGUI/nbproject/private/
/equationGUI/build/
/equation/build/
/JavaApplication62/nbproject/private/
/GUIFormExamples/nbproject/private/
/AnagramGame/nbproject/private/
/AnagramGame/build/
/Animales/nbproject/private/
/Animals/nbproject/private/
/Animals/build/
/AnimalsCheck/nbproject/private/
/AnimalsCheck/build/
/AnimalsCmbBox/nbproject/private/
/Calculadora/nbproject/private/
/Calculadora/build/
/Calculadora/dist/
/AnimalsCmbBox/build/
/AnimalsJist/nbproject/private/
/AnimalsJist/build/
/ParImparGUI/nbproject/private/
/ParImparGUI/build/
/Calculadoraa/nbproject/private/
/NotesSlider/nbproject/private/
/NotesSlider/build/
/GuidedMenu/nbproject/private/
/GuidedMenu/build/
/MenuChooser/nbproject/private/
/MenuChooser/build/
/Cine-TestNG/nbproject/private/
