/TarotNumber/nbproject/private/
/TarotNumber/build/
/tableMultiply/nbproject/private/
/prueba/nbproject/private/
/prueba/build/
/Marks/nbproject/private/
/Marks/build/
/StudentMarks/nbproject/private/
/Table/nbproject/private/
/Table/build/
/Matriz5x5/nbproject/private/
/Matriz5x5/build/
/MinumPrime/nbproject/private/
/MinumPrime/build/
/WorkingDay/nbproject/private/
/WorkingDay/build/
/Pen/nbproject/private/
/Pen/build/
/GetBigger/nbproject/private/
/GetBigger/build/
/NumberGame/nbproject/private/
/NumberGame/build/
/StudentMarks/build/
/Statistics/nbproject/private/
/Statistics/build/
/Matrix/nbproject/private/
/Matrix/build/
/AdventCalendar/nbproject/private/
/AdventCalendar/build/
